.app.dark {
  --bg-color: #1e1e1e;
  --inverted-bg-color: #014e97;
  --primary-color: #fff;
  --secondary-color: #500057;
  --inverted-primary-color: #080020;
  --inverted-secondary-color: #014e97;
}
