:root {
  --bg-color: rgb(245 245 245);
  --inverted-bg-color: #03e7b6;
  --primary-color: #080020;
  --secondary-color: #014e97;
  --inverted-primary-color: #e30000;
  --inverted-secondary-color: #03e7b6;
}
